{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [ "error", 2 ],
    "max-len": [ 2, 120, 2, {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "no-use-before-define": [ "error", "nofunc" ],
    "react/jsx-uses-vars": 2,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 1
  }
}
